/*body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    font-family: 'Arial', sans-serif;
}*/

#calculator-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    padding: 10px;
}

button {
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
}

    button:hover {
        border: 3px black solid;
    }

.result {
    display: flex;
}

    .result div {
        margin-right: 20px;
    }
